{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="../static/css/plugins/select2.min.css">
{% endblock %}
{% block content %}
<main>

    <div class="main-wrapper counters">
        <div class="container-fluid">

            <div class="card card p-20px mb-25px">
                <div class="card-title text-uppercase font-weight-bold font-25px mb-30px">Покази лічильників для <a>{{lich_selected_name}}</a></div>


                <div id="tabs-v2" >
                    <ul class="tab-navigation inline pill ui-tabs-panel">
                        <li><a class="font-weight-bold">Оберіть дату </a></li>
                        <li>

                            <select class="select2">

                            {% for key, value in priboru.items %}
                                <option value="{{key}}">{{key}}</option>
                            {% endfor %}
                            </select>


                        </li>


                    </ul>
                <div class="table-responsive">

                    <table class="table table-striped table-bordered" id="myTable">
                        <thead class="thead-dark">
                        <tr>
                            <th class="text-uppercase font-14px text-center">Тип</th>
                            <th class="text-uppercase font-14px text-center">Серійний</th>
                            <th class="text-uppercase font-14px text-center">Дата</th>
                            <th class="text-uppercase font-14px text-center">Попередні показникі</th>
                            <th class="text-uppercase font-14px text-center">Поточні значення</th>
                            <th class="text-uppercase font-14px text-center">Різниця</th>
                        </tr>
                        </thead>

                        {% csrf_token %}
                        {% for key, value in priboru.items %}
                        <tbody id="{{key}}" class="dynamic-table" style="display: none;">
                            {% for pribor in value %}
                            <tr>
                                <td class="font-14px pribor_name">{{pribor.Name}}	</td>
                                <td class="font-14px pribor_number">{{pribor.Number}}</td>
                                <td class="font-14px pribor_code" style="display: none">{{pribor.ПриборУчетаКод}}</td>
                                <td class="font-14px">

                                    <input type="date" name="Month_name" value="{{pribor.Month}}" id="date" placeholder="Дата" class="form-control ">
                                </td>
                                <td class="font-14px">

                                    <input type="number" name="Pokaz_prev" value="{{pribor.Pokaz_prev}}" id="number" placeholder="Попередні показникі" class="form-control first-number" readonly>
                                </td>
                                <td class="font-14px">

                                    <input type="number" name="Pokaz" value="{{pribor.Pokaz}}" id="number2" placeholder="Поточні значення" class="form-control second-number">
                                </td>
                                <td class="font-14px " ><input  name="difference" type="number" id="difference" class="form-control difference" readonly></td>



                            </tr>
                            {% endfor %}

                        </tbody>

                        {% endfor %}

                    </table>
                </div>
                </div>
                <div class="button-container">
                    <button id="submit-button" type="submit" class="btn btn-lg btn-primary align-content-center">Записати</button>

                    <div style="flex-grow: 1;"></div>

                </div>
                <div id="messages" class="pt-5"></div>


            </div>

        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="../static/js/plugins/select2.min.js"></script>
<script>

function calculateDifferences() {
    var tableRows = document.querySelectorAll('#myTable tbody tr');

    tableRows.forEach(function(row) {
        var firstInput = row.querySelector('.first-number');
        var secondInput = row.querySelector('.second-number');
        var differenceInput = row.querySelector('.difference');

        // Проверяем, что все три элемента присутствуют
        if (firstInput && secondInput && differenceInput) {
            // Функция для вычисления разницы
            var calculateDifference = function() {
                var firstValue = parseFloat(firstInput.value) || 0;
                var secondValue = parseFloat(secondInput.value) || 0;

                // Проверяем, что значение secondValue не является нулевым, иначе просто присваиваем разнице значение первого значения
                if (secondValue !== 0) {
                    differenceInput.value = (secondValue - firstValue).toFixed(2);
                } else {
                    differenceInput.value = firstValue.toFixed(2);
                }
            };

            // Вызываем функцию для вычисления разницы сразу после установки начальных значений
            calculateDifference();

            // Добавляем обработчик события input для пересчета разницы при изменении значений
            [firstInput, secondInput].forEach(function(input) {
                input.addEventListener('input', calculateDifference);
            });
        }
    });
    }





    document.addEventListener('DOMContentLoaded', function() {
        calculateDifferences();
    });
</script>
<script>
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Виберіть рік',
            dropdownPosition: 'below',
            dropdownCssClass: 'select2-height'
        });

        $('.select2').on('change', function() {
            // Получаем выбранное значение
            var selectedValue = $(this).val();

            // Скрываем все таблицы
            $('.dynamic-table').hide();
            var selector = "#" + selectedValue.replace(/ /g, "\\ ");

            // Отображаем выбранную таблицу
            $(selector).show();
        });

        var selectedValue = $('.select2').val();
                // Скрываем все таблицы
        $('.dynamic-table').hide();

        var selector = "#" + selectedValue.replace(/ /g, "\\ ");

        // Отображаем выбранную таблицу
        $(selector).show();



        // Обработчик нажатия на кнопку "Записать"
        $('#submit-button').on('click', function() {
            var postData = [];
            // Получаем данные из видимой таблицы
            var visibleTable = $('.dynamic-table:visible');
            visibleTable.find('tr').each(function(index, row) {
                var rowData = {};
                $(row).find('td').each(function(i, td) {
                    var className = $(td).hasClass('pribor_name');
                    var classNameNumber = $(td).hasClass('pribor_number');
                    var classNameNumberCode = $(td).hasClass('pribor_code');
                    var input = $(td).find('input');

                    if (className) {
                        var text = $(td).text().trim();
                        rowData["Name"] = text;
                    } else if (classNameNumber) {
                        var text = $(td).text().trim();
                        rowData["Number"] = text;
                    } else if (classNameNumberCode) {
                        var text = $(td).text().trim();
                        rowData["NumberCode"] = text;
                    } else if (input.length > 0)  {
                        var name = input.attr('name');
                        var value = input.val();
                        rowData[name] = value;
                    }
                });
                postData.push(rowData);
            });




            // Выполняем POST-запрос
            $.ajax({
                type: 'POST',
                url: '/counters/',
                data: {data: JSON.stringify(postData)},
                headers: { 'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() },
                success: function(response) {
                      // Очищаем контейнер сообщений перед добавлением новых сообщений
                      $('#messages').empty();

                      // Перебираем ответ от сервера и добавляем сообщения в контейнер
                      for (var i = 0; i < response.data.length; i++) {
                        var messageClass = response.data[i].success ? 'alert-success' : 'alert-danger';
                        var text =  response.data[i].success ? 'Показання успішно оновлені для ' : 'Показання не оновлені для '

                        $('#messages').append('<div class="alert ' + messageClass + '" role="alert">' + text + response.data[i].Name + '</div>');
                      }
                },
                error: function(xhr, status, error) {
                    console.error('Произошла ошибка при выполнении запроса', error);
                }
            });
        });

    });
</script>

{% endblock %}