{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="../static/css/plugins/select2.min.css">
{% endblock %}
{% block content %}
<main>

    <div class="main-wrapper counters">
        <div class="container-fluid">
            <form action="" method="post">
            <div class="card card p-20px mb-25px">
                <div class="card-title text-uppercase font-weight-bold font-25px mb-30px">Покази лічильників <a>(Кравець Анастасія Володимирівна (5Б) кв. 5-Б)</a></div>


                <div id="tabs-v2" >
                    <ul class="tab-navigation inline pill ui-tabs-panel">
                        <li><a class="font-weight-bold">Оберіть дату </a></li>
                        <li>

                            <select class="select2">
                                <option value="2023-12">2023 Грудень</option>
                                <option value="2023-11">2023 Листопад</option>
                                <option value="2023-10">2023 Жовтень</option>
                                <option value="2023-9">2023 Вересень</option>
                                <option value="2023-8">2023 Серпень</option>
                                <option value="2023-7">2023 Липень</option>
                                <option value="2023-6">2023 Червень</option>
                                <option value="2023-5">2023 Травень</option>
                                <option value="2023-4">2023 Квітень</option>
                                <option value="2023-3">2023 Березень</option>
                                <option value="2023-2">2023 Лютий</option>
                                <option value="2023-1">2023 Січень</option>

                                <option value="2022-12">2022 Грудень</option>
                                <option value="2022-11">2022 Листопад</option>
                                <option value="2022-10">2022 Жовтень</option>
                                <option value="2022-9">2022 Вересень</option>
                                <option value="2022-8">2022 Серпень</option>
                                <option value="2022-7">2022 Липень</option>
                                <option value="2022-6">2022 Червень</option>
                                <option value="2022-5">2022 Травень</option>
                                <option value="2022-4">2022 Квітень</option>
                                <option value="2022-3">2022 Березень</option>
                                <option value="2022-2">2022 Лютий</option>
                                <option value="2022-1">2022 Січень</option>

                                <option value="2021-12">2021 Грудень</option>
                                <option value="2021-11">2021 Листопад</option>
                                <option value="2021-10">2021 Жовтень</option>
                                <option value="2021-9">2021 Вересень</option>
                                <option value="2021-8">2021 Серпень</option>
                                <option value="2021-7">2021 Липень</option>
                                <option value="2021-6">2021 Червень</option>
                                <option value="2021-5">2021 Травень</option>
                                <option value="2021-4">2021 Квітень</option>
                                <option value="2021-3">2021 Березень</option>
                                <option value="2021-2">2021 Лютий</option>
                                <option value="2021-1">2021 Січень</option>
                            </select>

                        </li>


                    </ul>
                <div class="table-responsive">

                    <table class="table table-striped table-bordered" id="myTable">
                        <thead class="thead-dark">
                        <tr>
                            <th class="text-uppercase font-14px text-center">Тип</th>
                            <th class="text-uppercase font-14px text-center">Серійний</th>
                            <th class="text-uppercase font-14px text-center">Дата</th>
                            <th class="text-uppercase font-14px text-center">Попередні показникі</th>
                            <th class="text-uppercase font-14px text-center">Поточні значення</th>
                            <th class="text-uppercase font-14px text-center">Різниця</th>
                            <th class="text-uppercase font-14px text-center">Стан</th>
                        </tr>
                        </thead>
                        <tbody id="2023-12" class="dynamic-table">
                        <tr >
                            <td class="font-14px">Счетчик электрический (el.1)	</td>
                            <td class="font-14px">7513097000284</td>
                            <td class="font-14px">

                                <input type="date" id="date" placeholder="Дата" class="form-control ">
                            </td>
                            <td class="font-14px">

                                <input type="number" id="number" placeholder="Попередні показникі" class="form-control first-number">
                            </td>
                            <td class="font-14px">

                                <input type="number" id="number2" placeholder="Поточні значення" class="form-control second-number">
                            </td>
                            <td class="font-14px " ><input type="number" id="difference" class="form-control difference" readonly></td>
                            <td class="font-14px">нема показаннь</td>
                        </tr>
                        <tr >
                            <td class="font-14px">Счетчик электрический (el.1)	</td>
                            <td class="font-14px">7513097000284</td>
                            <td class="font-14px">

                                <input type="date" id="date" placeholder="Дата" class="form-control ">
                            </td>
                            <td class="font-14px">

                                <input type="number" id="number" placeholder="Попередні показникі" class="form-control first-number">
                            </td>
                            <td class="font-14px">

                                <input type="number" id="number2" placeholder="Поточні значення" class="form-control second-number">
                            </td>
                            <td class="font-14px " ><input type="number" id="difference" class="form-control difference" readonly></td>
                            <td class="font-14px">нема показаннь</td>
                        </tr>
                        </tbody>
                        <tbody id="2023-11" class="dynamic-table" style="display: none;">
                        <tr  >
                            <td class="font-14px">Счетчик электрический (el.1)	</td>
                            <td class="font-14px">7513097000284</td>
                            <td class="font-14px">
                                31.10.2023
                            </td>
                            <td class="font-14px">
                                332323
                            </td>
                            <td class="font-14px">
                                23232
                            </td>
                            <td class="font-14px">2008</td>
                            <td class="font-14px">Зараховано </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                </div>
                <div class="button-container">
                    <button type="button" class="btn btn-lg btn-primary align-content-center">Записати</button>

                    <div style="flex-grow: 1;"></div>

                </div>

            </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="../static/js/plugins/select2.min.js"></script>
<script>



    document.addEventListener('DOMContentLoaded', function() {
        var tableRows = document.querySelectorAll('#myTable tbody tr');

        tableRows.forEach(function(row) {
            var firstInput = row.querySelector('.first-number');
            var secondInput = row.querySelector('.second-number');
            var differenceInput = row.querySelector('.difference');

            // Проверяем, что все три элемента присутствуют
            if (firstInput && secondInput && differenceInput) {
                [firstInput, secondInput].forEach(function(input) {
                    input.addEventListener('input', function() {
                        var firstValue = parseFloat(firstInput.value) || 0;
                        var secondValue = parseFloat(secondInput.value) || 0;

                        differenceInput.value = (secondValue - firstValue).toFixed(2);
                    });
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: 'Виберіть рік',
            dropdownPosition: 'below',
            dropdownCssClass: 'select2-height'
        });

        $('.select2').on('change', function() {
            // Получаем выбранное значение
            var selectedValue = $(this).val();

            // Скрываем все таблицы
            $('.dynamic-table').hide();

            // Отображаем выбранную таблицу
            $('#' + selectedValue).show();
        });
    });
</script>
{% endblock %}