{% extends 'base.html' %}

{% block title %}Cars{% endblock %}
{% block extra_styles %}
<link rel="stylesheet" href="../static/css/plugins/select2.min.css">
{% endblock %}
{% block content %}
<main>
  <div class="main-wrapper">

    <div class="container-fluid">

      <div class="card card p-20px mb-25px">
        <div class="container mt-5">
          <h2 class="text-center">ПУБЛІЧНИЙ ДОГОВІР-ОФЕРТИ</h2>
          <h4 class="text-center">на інформаційні послуги</h4>
          <p class="text-justify mt-4">Цей договір між ОСББ «СИНІЙ ПТАХ», надалі Виконувач та користувачем послуг інтернет-сайту, надалі — Користувач, є договором надання безкоштовних інформаційних послуг через інтернет-сайт https://o26.osbb.od.ua. Користувач, діючи з метою отримання інформації щодо нарахуваннь та оплат за послугі Виконувача, декларує що приймає умови цього договору (далі – Договір) на наступних умовах.</p>


          <h2 class="mt-4 pb-3">1. ЗАГАЛЬНІ ПОЛОЖЕННЯ</h2>
          <p>1.1. Публічна оферта (далі – «Оферта») — публічна пропозиція від Виконувача, адресована Користувачам будинку, укласти з Виконувачем договір надання інформаційних послуг дистанційним способом (далі — «Договір») на умовах, що містяться в цій Оферті, включаючи всі Додатки.</p>

          <p>1.2. Зазначений договір є публічним, тобто, згідно зі статтею 633 Цивільного кодексу України, його умови однакові для всіх Користувачів.</p>

          <p >1.3. Відповідно до статті 642 Цивільного Кодексу України повним та беззастережним прийняттям умов цієї пропозиції (оферти), що підтверджує укладення Договору на запропонованих нижче умовах, є згода на отримання доступу та здійснення користуванням сайтом.</p>

          <h2 class="mt-4 pb-3">2. ПОЧАТОК</h2>
          <p>2.1. Почавши користування сайтом Користувач підтверджує погодження та безумовне прийняття ним умов цієї пропозиції (оферти). Під початком користування сайтом у даній Оферті мається на увазі наступне:</p>

          <ol>
            <li>Згода та отримання логіну та паролю до сайту.</li>
            <li>Здійснення входу до сайта.</li>
          </ol>

          <p>2.2. Укладаючи Договір (тобто акцептуючи умови цієї Пропозиції (Оферти) шляхом початку користування сайтом), Користувач підтверджує наступне:</p>

          <ol type="a">
            <li>Користувач цілком і повністю ознайомлений, та погоджується з умовами цієї пропозиції (оферти).</li>
            <li>Він дає дозвіл на збір, обробку та передачу персональних даних на умовах, визначених нижче.</li>
          </ol>

          <p>2.3. У разі незгоди приймати Оферту Користувач сповіщає про це керівництво Виконувача (за регламентом, встановленим Виконувачем), яке у свою чергу припиняє доступ Користувача до сайту.</p>

          <p>2.4. У разі відсутності доступу до сайту Користувач має отримувати рахунки або особисто у бухгалтерії Виконувача або шляхом електронних комунікацій.</p>


          <h2 class="mt-4 pb-3">3. ВАРТІСТЬ ПОСЛУГ</h2>
          <p>3.1. Вартість комунальних послуг Виконувача вказана в "Інформації".</p>
          <p>3.2. Доступ до Сайту для Користувачів надається без оплати.</p>
          <p>3.3. Сплатити комунальні послуги Виконувача можна будь-якому відділенні банка або на головній сторінці сайту за допомогою платіжних систем.</p>
          <p>3.4. Повернення коштів здійснюється за таких обставин:</p>

          <ol type="a">
            <li>Платник не є Користувачем та помилився з рахунком.</li>
            <li>Платник сплатив аванс за наступні періоди та зупинив право власності (тобто перестав бути Користувачем) до завершення періоду, що був авансований.</li>
          </ol>

          <p>3.5. Повернення помилково перерахованих коштів здійснюється у такому розпорядженні:</p>

          <ol type="a">
            <li>Платник оформляє лист-заяву до Виконувача особисто або за допомогою електронного документообігу з вказанням реквізитів платежа, власного рахунку та обставин оплати.</li>
            <li>Виконувач приймає рішення щодо можливості та суми повернення, у разі необхідності надає розрахунок (обгрунтування) Платнику.</li>
            <li>Платник отримує кошти згідно розрахунку на рахунок, з якого була оплата, строком 14 діб.</li>
            <li>Додаткових нарахувань, пені або штрафів за повернення не виконується.</li>
          </ol>

          <p>3.6. Суперечки щодо повернення коштів вирішуються згідно законодавства.</p>



          <h2 class="mt-4 pb-3">4. ПОСЛУГИ САЙТУ</h2>
          <p>4.1. Сайт надає інформаційні послуги доступу до сформованого рахунка, який можна отримати.</p>
          <p>4.2. Сайт надає інформаційні послуги доступу до платіжних систем.</p>
          <p>4.3. Сайт надає інформаційні послуги доступу до показників лічильників, можливість їх змінити або внести, нарахувань.</p>

          <h2 class="mt-4 pb-3">5. СТРОК НАДАННЯ ПОСЛУГ</h2>
          <p>5.1. Сайт та Кабінет починає роботу з 2024-01-01. Сайт буде містити інформацію про стан розрахунків з Користувачами лише з дати початку роботи.</p>
          <p>5.2. Доступ до Сайт для Користувачів починається з моменту набуття його права власності на будь-який об'єкт.</p>
          <p>5.3. Доступ до Сайту для Користувачів зупиняється з моменту закінчення права власності на всі об'єкти.</p>

          <h2 class="mt-4 pb-3">6. ДОСТУП ДО ІНФОРМАЦІЇ</h2>
          <p>6.1. Виконувач прикладає необхідних зусиль до збереження персональної інформації, згідно законодавства.</p>
          <p>6.2. Виконувач не надає безпідставний доступ до інформації Користувачів третім особам.</p>
          <p>6.3. Детальніше про інформацію у регламенті про захист даних.</p>

          <h2 class="mt-4 pb-3">7. ЗВЕРНЕННЯ</h2>
          <p>7.1. Звернення щодо послуг Виконувача, схем нарахувань, тарифів Користувачі здійснюють згідно Статута Виконувача.</p>
          <p>7.2. Звернення щодо роботи Сайту, зауважень та пропозицій Користувачі здійснюють за допомогою електронної пошти Розробник у Зверненні треба вказати:</p>

          <ol type="a">
            <li>Назву Виконувача, ІД Користувача або номер квартири, ваше ім'я, контактний телефон.</li>
            <li>Суть звернення.</li>
            <li>Додати знімки екрану (screenshots) з монітора, посилання.</li>
          </ol>


        </div>

      </div>

    </div>


    <div class="container-fluid">

      <div class="card card p-20px mb-25px">
        <div class="container mt-4">

          <h1 class="text-center">Загальний регламент про захист даних</h1>

          <h2 class="mt-4 pb-3">A. Вступ</h2>
          <p>Конфіденційність користувачів нашого веб-сайту має велике значення для нас, і ми докладаємо всіх зусиль для забезпечення її захисту. Дані правила пояснюють, як ми використовуємо Вашу персональну інформацію.</p>
          <p>Погоджуючись із використанням файлів-cookie при першому відвіданні нашого веб-сайту, відповідно до положень даних Правил, Ви надаєте нам дозвіл на використання файлів-cookie при кожному вашому наступному візиті.</p>

          <h2 class="mt-4 pb-3">B. Права інтелектуальної власності</h2>
          <p>Цей документ був створений з використанням шаблона із сайту SEQ Legal (seqlegal.com) та модифікований веб-сайтом Website Planet (www.websiteplanet.com)</p>

          <h2 class="mt-4 pb-3">C. Збір персональних даних</h2>
          <p>Збору, зберіганню та використанню підлягають наступні типи персональних даних:</p>

          <ol type="a">
            <li>Інформація про ваш комп’ютер, включаючи Вашу IP-адресу, географічне розташування, тип і версію браузера та операційну систему;</li>
            <li>Інформація про Ваші відвідування та використання цього веб-сайту, включаючи реферальні джерела, протяжність візитів, переглянуті сторінки та шляхи навігації по сайту;</li>
            <li>Інформація про адресу Вашої електронної пошти, яку Ви надали в офісі або самостійно вказали на сайті;</li>
            <li>Інформація, яку ми ввели під час створення профілю на нашому сайті – а саме Ваше повне ФІП та повна адреса та будь-яка інша персональна інформація, яку Ви надіслали нам.</li>
            <li>Інформація, яку Ви вводите під час використання сервісів нашого веб-сайту;</li>
            <li>Інформація, яка генерується при використанні нашого веб-сайту, включаючи інформацію про час, частоту та умови його використання;</li>
            <li>Інформація стосовно оплат за послуги;</li>
          </ol>

          <p>Перед тим, як розкривати для нас персональну інформацію третьої особи, Ви маєте отримати згоду цієї особи як на розкриття, так і на обробку цієї інформації у відповідності до даних правил.</p>

          <h2 class="mt-4 pb-3">Г. Використання вашої персональної інформації</h2>
          <p>Персональна інформація, яку Ви передали нам через наш веб-сайт, буде використовуватися задля цілей, зазначених в цих правилах або на відповідних сторінках веб-сайту. Ми можемо використовувати Вашу персональну інформацію в наступних цілях:</p>

          <ol type="a">
            <li>надання Вам можливості користуватися сервісами, доступними на нашому веб-сайті;</li>
            <li>надсилання Вам повідомлень, рахунків та нагадувань про сплату, та отримання платежів від Вас;</li>
            <li>надсилання Вам електронною поштою повідомлень, які Ви спеціально запросили;</li>
            <li>обробка запитів та скарг, зроблених Вами або на Вас, і які стосуються нашого веб-сайту;</li>
          </ol>

          <p>Без вашої чітко вираженої згоди ми не будемо передавати Вашу персональну інформацію жодній сторонній компанії для прямого маркетингового використання цією, або будь-якою іншою сторонньою компанією.</p>

          <h2 class="mt-4 pb-3">Д. Розкриття персональної інформації</h2>
          <p>Ми залишаємо за собою право розкрити Вашу персональну інформацію для будь-якого з наших працівників, керівників, в об’ємі та цілях, що витікають з необхідності виконання їхніх посадових обовязків.</p>
          <p>Ми залишаємо за собою право розкрити Вашу персональну інформацію:</p>

          <ol type="a">
            <li>в тих випадках, в яких цього від нас вимагає закон;</li>
            <li>у зв’язку з будь-яким поточними або майбутніми судовими процесами;</li>
            <li>з метою встановлення, реалізації або захисту наших законних прав (включаючи надання інформації іншим сторонам задля запобігання шахрайству або зниження кредитних ризиків);</li>
          </ol>

          <p>Ми не будемо розкривати Вашу персональну інформацію третім особам, за виключенням випадків, зазначених в цих правилах та в законах.</p>

          <h2 class="mt-4">Е. Міжнародні передачі персональної інформації</h2>
          <p>Інформація, яку ми збираємо, може зберігатися, оброблятися та передаватися між будь-якими країнами, в яких ми здійснюємо свою діяльність, з метою надання нам можливості використовувати цю інформацію у відповідності з цими правилами.</p>

          <p>Погоджуючись з цими правилами, Ви надаєте згоду на передачу вашої персональної інформації, зазначеної в розділі Е.</p>

          <h2 class="mt-4">Є. Збереження персональної інформації</h2>
          <p>Розділ Є встановлює правила та процедури компанії щодо збереження персональної інформації. Дані правила та процедури призначені для забезпечення виконання нами наших юридичних зобов’язань щодо збереження та видалення персональної інформації.</p>
          <p>Персональна інформація, яку ми обробляємо з певною метою або в певних цілях, не повинна зберігатися довше, ніж потрібно для досягнення цієї мети або цих цілей.</p>
          <p>Незважаючи на інші положення Розділу Є, ми будемо зберігати документи (включаючи електронні документи), які містять персональну інформацію:</p>

          <ol type="a">
            <li>в тих випадках, в яких цього від нас вимагає закон;</li>
            <li>якщо ми вважатимемо, що ці документи можуть мати відношення до будь-якого поточного або майбутнього судового розгляду;</li>
            <li>та з метою встановлення, реалізації або захисту наших законних прав (включаючи надання інформації іншим сторонам задля запобігання шахрайству або зниження кредитних ризиків).</li>
          </ol>

          <h2 class="mt-4">Ж. Захист вашої персональної інформації</h2>
          <p>Ми будемо вживати достатні технічні та організаційні заходи для попередження втрати, протиправного використання чи підробки вашої персональної інформації.</p>
          <p>Всю надану вами персональну інформацію ми будемо зберігати на наших захищених (як паролем, так і фаєрволами) серверах.</p>
          <p>Всі електронні фінансові транзакції, здійснені за допомогою нашого сайту, будуть захищені технологією шифрування даних.</p>
          <p>Ви підтверджуєте своє ознайомлення з тим фактом, що передача інформації через Інтернет є по суті незахищеною, і ми не можемо гарантувати захист даних, надісланих через всесвітню мережу.</p>
          <p>Ви несете повну відповідальність за збереження свого пароля для доступу на наш веб-сайт в таємниці. Ми ніколи не будемо запитувати ваш пароль (за виключенням випадків, коли Ви намагаєтесь увійти до свого облікового запису на нашому сайті).</p>
          <p>Пароль доступу на сайт не зберігається, тому ми не можемо Вам його нагадати. Пароль можно тількі встановити новий.</p>

          <h2 class="mt-4 pb-3">З. Зміни та поправки</h2>
          <p>Ми лишаємо за собою право періодично вносити зміни та поправки в ці правила, та публікувати їх нову редакцію на нашому сайті. Ви повинні періодично перевіряти цю веб-сторінку, щоб пересвідчитись, що розумієте зміст змін, внесених до цих правил. Ми також можемо проінформувати вас про внесення змін до цих правил шляхом публікації оголошення надсилання електронної пошти або через систему передачі приватних повідомлень у відповідному розділі нашого сайту.</p>

          <h2 class="mt-4 pb-3">И. Ваші права</h2>
          <p>Ви можете надати нам вказівку надавати Вам будь-яку персональну інформацію про Вас, яку ми маємо; надання такої інформації буде здійснюватись у державні органи.</p>
          <p>Ми лишаємо за собою відмовити в наданні інформації за Вашим запитом, в межах чинного законодавства.</p>

          <h2 class="mt-4 pb-3">І. Сторонні веб-сайти</h2>
          <p>Наш веб-сайт містить гіперпосилання на, та деталі про веб-сайти сторонніх компаній та осіб. Ми не маємо інструментів керування, та не несемо відповідальності за політику конфіденційності й практики сторонніх осіб та компаній в цій галузі.</p>

          <h2 class="mt-4 pb-3">Ї. Оновлення інформації</h2>
          <p>Будь-ласка, своєчасно повідомляйте нас, якщо ваша персональна інформація, яка знаходиться у нас, потребує оновлення чи виправлень.</p>


          <h2 class="mt-4 pb-3">Й. Файли-Cookies</h2>
          <p>Наш веб-сайт використовує файли-cookies. Cookie — це файл, що містить ідентифікатор (стрічку, яка складається з літер та цифр), і який надсилається веб-сервером до веб-браузера, та зберігається браузером. В подальшому, ідентифікатор надсилається назад на сервер кожного разу, коли браузер запитує веб-сторінку з серверу. Файли-cookies можуть бути або «постійними» або «сеансові»: постійні будуть зберігатися браузером та будуть придатними до завершення терміну дії, якщо тільки не будуть видалені користувачем завчасно; «сеансові» навпаки – будуть видалятися після завершення сеансу роботи з сайтом або після закриття браузеру. Файли-cookies зазвичай не містять жодної інформації, яка ідентифікує особу користувача. Проте, ваша персональна інформація, яку ми маємо, може бути пов’язана з інформацією, що зберігається та отримана від файлів-cookies.</p>
          <p>На нашому веб-сайті ми використовуємо як постійні, так і сеансові файли-cookies.</p>

          <p>Більшість браузерів надають можливість відмовитися від використання файлів-cookies, наприклад:</p>
          <ol>
            <li><strong>Internet Explorer (версія 10):</strong> Заблокуйте використання через налаштування керування файлами-cookie, доступні в меню «Інструменти» – «Опції Інтернету» – «Конфіденційність» – «Розширені».</li>
            <li><strong>Firefox (версія 24):</strong> Заблокуйте всі файли-cookie в меню «Інструменти» – «Опції» – «Конфіденційність», обравши «Використовувати користувацькі налаштування журналу» та відзначивши «Прийняти файли-cookie від сайтів».</li>
            <li><strong>Chrome (версія 29):</strong> Заблокуйте файли-cookie в меню «Налаштування та управління» – «Налаштування» – «Відобразити розширені налаштування» та «Налаштування контенту», обравши «Заборонити сайтам надсилати будь-які дані» під заголовком «Cookies».</li>
          </ol>

          <p>Блокування всіх файлів-cookie унеможливлює користування сайтом, тому якщо Ви заблокуєте файли-cookie, Ви не зможете користуватися функціями нашого веб-сайту.</p>

          <p>Ви можете видалити файли-cookie, які вже зберігаються на вашому комп’ютері, наприклад:</p>
          <ol>
            <li><strong>Internet Explorer (версія 10):</strong> Видаліть файли-cookie вручну, інструкцію знаjdете <a href="http://support.microsoft.com/kb/278835">тут</a>.</li>
            <li><strong>Firefox (версія 24):</strong> Видаліть файли-cookie в меню «Інструменти» – «Опції» – «Конфіденційність», обравши «Використовувати користувацькі налаштування журналу», натисніть «Показати Cookies», а потім – «Видалити всі Cookies».</li>
            <li><strong>Chrome (версія 29):</strong> Видаліть файли-cookie в меню «Налаштування та управління» – «Налаштування» – «Відобразити розширені налаштування» та «Очистити дані перегляду», обравши «Видалити файли-cookie та інші дані й плагіни сайтів».</li>
          </ol>

          <p>Видалення файлів-cookie призупинить можливість користування нашим веб-сайтом.</p>

        </div>
      </div>

    </div>

  </div>
</main>
{% endblock %}
{% block scripts %}


<script>

</script>
{% endblock %}