<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTAH Логин</title>
     <meta name="description" content="login page">

    <!--Stylesheets-->
    <link rel="stylesheet" href="../static/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
     <style>
        body {
            /* Устанавливаем фоновое изображение */
            background-image: url('{{ background_photo_url }}');
            /* Устанавливаем стиль фона */
            background-size: cover;
            background-position: top;
            /* Остальные стили */
            /* ... */
        }
    </style>

</head>
<body>

    <div class="auth-wrapper">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card p-5">

                <div class="logo font-weight-bold text-center"><p class="mb-30px text-center">Введіть свій Логін та Пароль</p></div>
                <div class="auth-form">

                    <form method="post" action="/login/">
                        {% csrf_token %}

                        <div class="mb-3 position-relative">

                            <label for="{{ form.username.id_for_label }}" class="w-100">Логін:</label>

                            <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <div class="row">
                                <div class="col-4">
                                    <select style="padding-left: 39px !important;" class="form-select" id="country_code" name="country_code">
                                        {% for i in country_codes %}
                                         <option value="{{ i.code }}" {% if i.name == 'UA' %}selected{% endif %}>{{ i.code }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <div class="col-8">

                                     {{ form.username }}
                                </div>
                            </div>


                        </div>
                        <div class="mb-2 position-relative">
                            <label for="{{ form.password.id_for_label }}" class="w-100">Пароль:</label>
                            <span class="icon"><i class="fa-solid fa-unlock-keyhole"></i></span>
                            {{ form.password }}
                        </div>
                        <div class="form-check mb-3">
                            {% if error %}
                                <p style="color: red;">{{ error }}</p>
                            {% endif %}
                        </div>
                        <div class="mb-3">

                            <button type="submit" class="btn btn-primary w-100" name="login-button">Вхід в систему</button>
                        </div>

                    </form>


                    <div class="social-auth mt-30px">
                    <a href="{% url 'password_reset' %}">Забули пароль?</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Javascripts-->
    <script src="../static/js/plugins/jquery.min.js"></script>
    <script src="../static/js/plugins/bootstrap.min.js"></script>
</body>
</html>