<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daktar - Hospital Managment HTML Template</title>

    <!--Stylesheets-->
    <link rel="stylesheet" href="../static/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

    <div class="auth-wrapper">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card p-5">
                <div class="logo text-center"><a href="index.html"><span>D</span>aktar</a></div>
                <p class="mb-30px text-center">Enter your information to complete signup.</p>
                <div class="auth-form">
                    <form action="index.html">
                        <div class="mb-3 position-relative">
                            <label for="name" class="w-100">Name:</label>
                            <span class="icon"><i class="fa-regular fa-user"></i></span>
                            <input type="name" id="name" class="form-control" placeholder="Enter Name">
                        </div>
                        <div class="mb-3 position-relative">
                            <label for="email" class="w-100">Email:</label>
                            <span class="icon"><i class="fa-regular fa-envelope"></i></span>
                            <input type="email" id="email" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="mb-3 position-relative">
                            <label for="password" class="w-100">Password:</label>
                            <span class="icon"><i class="fa-solid fa-unlock-keyhole"></i></span>
                            <input type="password" id="password" class="form-control" placeholder="Enter Password">
                        </div>
                        <div class="mb-3 position-relative">
                            <label for="confirm-password" class="w-100">Confirm Password:</label>
                            <span class="icon"><i class="fa-solid fa-unlock-keyhole"></i></span>
                            <input type="password" id="confirm-password" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary w-100">Signup Now</button>
                        </div>
                    </form>
                    <p class="text-center">You don't have an account? <a href="signup.html">Signup Now</a></p>
                    <div class="social-auth mt-30px">
                        <div class="social-auth-head">
                            <h5>Or Signup With</h5>
                        </div>
                        <ul class="text-center">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Javascripts-->
    <script src="../static/js/plugins/jquery.min.js"></script>
    <script src="../static/js/plugins/bootstrap.min.js"></script>
</body>
</html>